<?xml version="1.0"?>
<config>
    <modules>
        <Kubaceg_Menu>
            <version>0.2.0</version>
        </Kubaceg_Menu>
    </modules>
    <global>
        <models>
            <kubaceg_menu>
                <class>Kubaceg_Menu_Model</class>
                <resourceModel>kubaceg_menu_resource</resourceModel>
            </kubaceg_menu>
            <kubaceg_menu_resource>
                <class>Kubaceg_Menu_Model_Resource</class>
                <entities>
                    <menu>
                        <table>kubaceg_menu</table>
                    </menu>
                    <menu_item>
                        <table>kubaceg_menu_item</table>
                    </menu_item>
                </entities>
            </kubaceg_menu_resource>
        </models>
        <resources>
            <kubaceg_menu_setup>
                <setup>
                    <module>Kubaceg_Menu</module>
                </setup>
            </kubaceg_menu_setup>
        </resources>
        <blocks>
            <kubaceg_menu>
                <class>Kubaceg_Menu_Block</class>
            </kubaceg_menu>
        </blocks>
        <helpers>
            <kubaceg_menu>
                <class>Kubaceg_Menu_Helper</class>
            </kubaceg_menu>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <kubaceg_menu before="Mage_Adminhtml">Kubaceg_Menu_Adminhtml</kubaceg_menu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <kubaceg_menu>
                    <file>kubaceg_menu.xml</file>
                </kubaceg_menu>
            </updates>
        </layout>
    </adminhtml>
</config>